<html>

<head>
    <meta charset="utf-8">
    <title>history</title>
    <!-- <link rel="stylesheet" type="text/css" href="bootstrapt/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="history.css"/> -->

    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/bootstrapt/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/history.css')}}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="home_button">
                    <!-- <a href="index.html"> -->
                    <a href="/history_list">
                        <button>Home</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id="tip">
                    <img src="tip">
                </div>
                <!-- <div id="tipw" >
						刷新网页<br>更新状态
					</div> -->
            </div>
            <div class="col-md-9">
                <h2 id="title">Here is History List~ </h2>
                <div id="list">
{% for item in history_list %}
                    {% if item.status == 0 %}
                    <!-- <a href="/analysis_result/{{ item.filename }}" class="list-group-item">{{ item.filename }} -->
                    <a href="/result/{{ item.filename }}" class="list-group-item">{{ item.filename }}
                        <span class="label label-success">已完成</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>
                    {% elif item.status == 1 %}
                    <a href="#" class="list-group-item">{{ item.filename }}
                        <span class="label label-danger">处理中</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>
                    {% elif item.status == 2 %}
                    <a href="#" class="list-group-item">{{ item.filename }}
                        <span class="label label-warning">等待中</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>                 
                    {% endif %}
                    <!-- <a href="/analysis_result/{{ item.filename }}" class="list-group-item">{{ item.filename }}
                        {% if item.status == 0 %}
                        <span class="label label-success">已完成</span>
                        {% elif item.status == 1 %}
                        <span class="label label-danger">处理中</span>
                        {% elif item.status == 2 %}
                        <span class="label label-warning">等待中</span>
                        {% endif %}
                        <span class="badge">{{ item.ctime }}</span>
                    </a> -->
{% endfor %}

                </div>
            </div>
        </div>
    </div>

    <a href="/upload">上传界面</a>
    <a href="/logout">注销</a>

</body>

</html>