<html>

<head>
    <meta charset="utf-8">
    <title>history</title>
    <!-- <link rel="stylesheet" type="text/css" href="bootstrapt/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="history.css"/> -->

    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/bootstrapt/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/history.css')}}" />
</head>

<body>
    <ul class="breadcrumb">
        <li><a href="user_index.html">信息下载</a></li>
        <li><a href="user_up.html">医疗信息数据上传处理</a></li>
        <li><a href="history.html">历史记录</a></li>
        （用户）
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="home_button">
                    <!-- <a href="index.html"> -->
                    <!-- <a href="/history_list"> -->
                    <!-- <a href="/temp">
                        <button>Home</button>
                    </a> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id="tip">
                    <img src="tip">
                </div>
                <!-- <div id="tipw" >
						刷新网页<br>更新状态
					</div> -->
            </div>
            <div class="col-md-9">
                <h2 id="title">Here is History List~ </h2>
                <div id="list">
                    {% for item in history_list %}
                    {% if item.status == 0 %}
                    <!-- <a href="/analysis_result/{{ item.filename }}" class="list-group-item">{{ item.filename }} -->
                    <a href="/result/{{ item.filename }}" class="list-group-item">{{ item.filename }}
                        <span class="label label-success">已完成</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>
                    {% elif item.status == 1 %}
                    <a href="#" class="list-group-item">{{ item.filename }}
                        <span class="label label-danger">处理中</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>
                    {% elif item.status == 2 %}
                    <a href="#" class="list-group-item">{{ item.filename }}
                        <span class="label label-warning">等待中</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>                 
                    {% endif %}

                                        <!-- <a href="#" class="list-group-item">SRR385940.tsv
                                            <span class="label label-danger">处理中</span>
                                            <span class="badge">2012-05-15 10:33:56</span>
                                        </a>

                                        <a href="#" class="list-group-item">SRR385940.tsv
                                            <span class="label label-warning">等待中</span>
                                            <span class="badge">2012-05-15 10:35:08</span>
                                        </a> -->
                    <!-- <a href="/analysis_result/{{ item.filename }}" class="list-group-item">{{ item.filename }}
                        {% if item.status == 0 %}
                        <span class="label label-success">已完成</span>
                        {% elif item.status == 1 %}
                        <span class="label label-danger">处理中</span>
                        {% elif item.status == 2 %}
                        <span class="label label-warning">等待中</span>
                        {% endif %}
                        <span class="badge">{{ item.ctime }}</span>
                    </a> -->
{% endfor %}

                </div>
            </div>
        </div>
    </div>


</body>

</html>
