<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- <link rel="stylesheet" type="text/css" href="bootstrapt/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="result.css"/> -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrapt/css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/result.css')}}">


		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<script type="text/javascript">
			alert('处理中，请稍后')
		</script>
		<table class="table">
			<tr>
				<th >性别</th>
				<th>年龄</th>
				<th>邮编</th>
				<th>疾病</th>
				<th>cvs_name</th>
			</tr>

			{% for key,value in df_head.iterrows() %}
				
			<tr>
				<td>{{ value['sex'] }}</td>
				<td>{{ value['age'] }}</td>
				<td>{{ value['fnlwgt']|int }}</td>
				<td>{{ value['disease'] }}</td>
				<td>{{ value['csv_name'] }}</td>
			</tr>		
<!-- 
				<p>{{ value['age'] }} - {{ value['count'] }} - {{ value['csv_name'] }} - {{ value['disease'] }} - {{ value['fnlwgt'] }} -
					{{ value['sex'] }}</p> -->
			{% endfor %}

		</table>
	</body>
</html>
