<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- <link rel="stylesheet" type="text/css" href="bootstrapt/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="result.css"/> -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrapt/css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/result.css')}}">


		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<script type="text/javascript">
			alert('处理中，请稍后')
		</script>
		<table class="table">
			<tr>
				<th >性别</th>
				<th>年龄</th>
				<th>邮编</th>
				<th>疾病</th>
				<th>cvs_name</th>
			</tr>
			<tr>
				<td >female</td>
				<td>25.5</td>
				<td>53712</td>
				<td>endometriosis</td>
				<td>10002.csv,10007.csv</td>
			</tr>
			<tr>
				<td>Male</td>
				<td>25.5</td>
				<td>53711</td>
				<td>hypertemsion</td>
				<td>10001.csv</td>
			</tr>
			<tr>
				<td>Male</td>
				<td>25.5</td>
				<td>53711</td>
				<td>prostate cancer</td>
				<td>10003.csv</td>
			</tr>
			<tr>
				<td>Male,Female</td>
				<td>27.33</td>
				<td>53711</td>
				<td>Alzheimer's disease</td>
				<td>10006.csv</td>
			</tr>
			<tr>
				<td>Male,Female</td>
				<td>27.33</td>
				<td>53711</td>
				<td>multiple sclerosis</td>
				<td>10004.csv</td>
			</tr>
			<tr>
				<td>Male,Female</td>
				<td>27.33</td>
				<td>53711</td>
				<td>skin cancer</td>
				<td>10005.csv</td>
			</tr>
		</table>
	</body>
</html>
