<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<!-- <link rel="stylesheet" type="text/css" href="index.css"/> -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="index.html">信息提交</a></li>
		<li><a href="k-ano.html">匿名算法处理</a></li>
		<li><a href="level.html">用户权限管理</a></li>
		（管理员）
	</ul>
	<table class="table">
		<tr>
			<th >姓名</th>
			<th>密码</th>
			<th>等级</th>
			<th>修改等级</th>
			<th>修改权限</th>
		</tr>
		<tr>
			<td >user2</td>
			<td>user2pw</td>
			<td>2</td>
			<td>
				<select class="form-control">
				      <option>1</option>
				      <option>2</option>
				      <option>3</option>
				 </select>
		</td>
			<td>
				<select class="form-control">
				      <option>Read</option>
				      <option>Write</option>
				 </select>
			</td>
			<td><button type="button" onclick="alert('提交成功')">提交</button></td>
		</tr>
		<tr>
			<td >user3</td>
				<td>user3pw</td>
				<td>2</td>
				<td>
					<select class="form-control">
					      <option>1</option>
					      <option>2</option>
					      <option>3</option>
					 </select>
			</td>
				<td>
					<select class="form-control">
					      <option>Read</option>
					      <option>Write</option>
					 </select>
				</td>
				<td><button type="button" onclick="alert('提交成功')">提交</button></td>
		</tr>
		<tr>
			<td >user4</td>
				<td>user4pw</td>
				<td>2</td>
				<td>
					<select class="form-control">
					      <option>1</option>
					      <option>2</option>
					      <option>3</option>
					 </select>
			</td>
				<td>
					<select class="form-control">
					      <option>Read</option>
					      <option>Write</option>
					 </select>
				</td>
				<td><button type="button" onclick="alert('提交成功')">提交</button></td>
		</tr>
	</table>
	</body>
</html>
