<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body>

    <div id="content">
        <div class="login-header">
            医疗数据安全处理系统
        </div>
        <form action="" method="POST" id="nameform">
            <div class="login-input-box">
                <span class="icon icon-user"></span>
                <input type="text" placeholder="Please enter your email/phone" name=username>
            </div>

            <div class="login-input-box">
                <span class="icon icon-password"></span>
                <input type="password" placeholder="Please enter your password" name=password>
            </div>
        </form>
        <div class="remember-box">
            <label>
                <input type="checkbox"> Remember Me
            </label>
        </div>
        <div class="login-button-box">
            <button type="submit" form="nameform">login</button>
            <div class="logon-box">
                <a href="register.html">Sign up</a>
            </div>
        </div>

</body>

</html>