<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>

<div id="content">
    <div class="login-header">
        医疗数据安全处理系统
    </div>
    <form action="" method="POST" id="nameform">
        <div class="login-input-box">
            <span class="icon icon-user"></span>
            <input type="text" placeholder="Please enter your email/phone">
        </div>
        <div class="login-input-box">
            <span class="icon icon-password"></span>
            <input type="password" placeholder="Please enter your password">
        </div>
    </form>
	<div class="remember-box">
        <label>
            <input type="checkbox"> Remember Me
        </label>
    </div>
    <div class="login-button-box">
        <button type="submit" form="nameform">register</button>
        <a href="index.html">
            <button>sign up</button>
        </a>
    </div>
</div>

</body>
</html>
