<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
</head>
<body>

<div id="content">
    <div class="login-header">
        医疗数据安全处理系统
    </div>
    <form action="" method="POST" id="nameform">
        <div class="login-input-box">
            <span class="icon icon-user"></span>
            <input type="text" placeholder="Please enter your email/phone" name=username>
        </div>
        <div class="login-input-box">
            <span class="icon icon-password"></span>
            <input type="password" placeholder="Please enter your password" name=password>
        </div>
    </form>
	<div class="remember-box">
        <label>
            <input type="checkbox"> Remember Me
        </label>
    </div>

    <div class="login-button-box">
        <!-- <a href="login.html"> -->
        <!-- <a href="/login"> -->
            <button  type="submit" form="nameform" onclick="alert('注册成功')">sign up</button>
        <!-- </a> -->
    </div>

    <!-- <div class="login-button-box">
        <button type="submit" form="nameform">注 册</button>
        <p></p>
        <a href="/login">
            <button>返回登陆</button>
        </a>
    </div> -->

</div>

</body>
</html>